<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.sendto.MonKeyOffice</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>GrandTotalMinimumVersion</key>
	<integer>7</integer>
	<key>URL</key>
	<string>https://github.com/mediaatelier/GrandTotal-Plugins/raw/master/Send%20To%20Menu/Send%20to%20Monkey%20Office.grandtotalplugin.zip</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>Company ID</string>
			<key>name</key>
			<string>companyID</string>
			<key>type</key>
			<string>string</string>
			<key>default</key>
			<string>1</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Debit</string>
			<key>name</key>
			<string>debitAccount</string>
			<key>type</key>
			<string>string</string>
			<key>default</key>
			<string>1200</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Credit 19%</string>
			<key>name</key>
			<string>credit_19_Account</string>
			<key>type</key>
			<string>string</string>
			<key>default</key>
			<string>8400</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Credit 16%</string>
			<key>name</key>
			<string>credit_16_Account</string>
			<key>type</key>
			<string>string</string>
			<key>default</key>
			<string>8340</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Credit 7%</string>
			<key>name</key>
			<string>credit_7_Account</string>
			<key>type</key>
			<string>string</string>
			<key>default</key>
			<string>8300</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Credit 0%</string>
			<key>name</key>
			<string>credit_0_Account</string>
			<key>type</key>
			<string>string</string>
			<key>default</key>
			<string>8110</string>
		</dict>
	</array>
	<key>SendToMenu</key>
	<dict>
		<key>ApplicationFileExtension</key>
		<string>txt</string>
		<key>ApplicationIdentifiers</key>
		<array>
			<string>com.prosaldo.monkeyoffice2021</string>
			<string>com.prosaldo.monkeyoffice2022</string>
			<string>com.prosaldo.monkeyoffice2023</string>
		</array>
		<key>ApplicationMinimumVersion</key>
		<string>1.0</string>
		<key>ApplicationName</key>
		<string>MonKey Office</string>
		<key>AskForFile</key>
		<true/>
		<key>ApplicationFileName</key>
		<string>MonKeyOffice.txt</string>
	</dict>
	<key>copyright</key>
	<string>© 2022-2023 Stefan Fürst</string>
	<key>types</key>
	<array>
		<string>sendtomenu</string>
	</array>
</dict>
</plist>
