<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.clockodoImporter</string>
	<key>CFBundleVersion</key>
	<string>2.2</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>Your e-mail</string>
			<key>name</key>
			<string>email</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Your token</string>
			<key>name</key>
			<string>token</string>
			<key>type</key>
			<string>password</string>
		</dict>
	</array>
	<key>GlobalsInfo</key>
	<string>Enter your clockodo token to allow access to your data. You can find the token in your clockodo settings.</string>
	<key>URL</key>
	<string>https://github.com/mediaatelier/GrandTotal-Plugins/raw/master/Time%20Importer/Clockodo.grandtotalplugin.zip</string>
	<key>GrandTotalMinimumVersion</key>
	<integer>5</integer>
	<key>copyright</key>
	<string>© 2015-2022 Stefan Fürst</string>
	<key>types</key>
	<array>
		<string>timeimporter</string>
	</array>
</dict>
</plist>
