<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Icon.pdf</string>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.togglimporter</string>
	<key>CFBundleVersion</key>
	<string>3.7</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>Your toggl token</string>
			<key>name</key>
			<string>token</string>
			<key>type</key>
			<string>password</string>
		</dict>
		<dict>
			<key>buttonlabel</key>
			<string>Minutes</string>
			<key>default</key>
			<real>1</real>
			<key>label</key>
			<string>Round to</string>
			<key>name</key>
			<string>roundTo</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Profile</string>
			<key>type</key>
			<string>link</string>
			<key>url</key>
			<string>https://toggl.com/app/profile</string>
		</dict>
	</array>
	<key>GlobalsInfo</key>
	<string>Enter your toggl token to allow access to your data. You can find the token in your toggl profile.</string>
	<key>GrandTotalMinimumVersion</key>
	<real>8</real>
	<key>URL</key>
	<string>https://github.com/mediaatelier/GrandTotal-Plugins/raw/master/Time%20Importer/Toggl.grandtotalplugin.zip</string>
	<key>copyright</key>
	<string>© 2018-2023 Stefan Fürst</string>
	<key>types</key>
	<array>
		<string>timeimporter</string>
	</array>
</dict>
</plist>
