body {
	font: 10pt/14pt;
    font-family: -apple-system-font, HelveticaNeue, LucidaGrande;
	margin: 0px;
	padding: 0; 
	-webkit-user-select: none;
	cursor: default;
}



.address {
	position: absolute;
	left: 120mm;
	top: 30mm;
	cursor: move;
	border: 1px dotted #ddd; 
	width: 300px;
	height: 200px;
	 
}   


@media print {  
	
  .address {
	position: absolute;
	left: 120mm;
	top: 30mm;
	border: none; 
	width: 300px;
	height: 200px;
	 
}