<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.receipts</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>GrandTotalMinimumVersion</key>
	<integer>4</integer>
	<key>SendToMenu</key>
	<dict>
		<key>ApplicationFileExtension</key>
		<string>grandtotal2receipts</string>
		<key>ApplicationIdentifiers</key>
		<array>
			<string>com.apperdeck.mac.Receipts</string>
		</array>
		<key>ApplicationMinimumVersion</key>
		<string>1.5</string>
		<key>ApplicationName</key>
		<string>Receipts</string>
		<key>ApplicationURL</key>
		<string>https://www.receipts-app.com/?ref=gt4</string>
	</dict>
	<key>URL</key>
	<string>https://github.com/mediaatelier/GrandTotal-Plugins/raw/master/Send%20To%20Menu/Send%20to%20Receipts.grandtotalplugin.zip</string>

	<key>copyright</key>
	<string>© 2017-2023 Stefan Fürst</string>
	<key>types</key>
	<array>
		<string>sendtomenu</string>
	</array>
</dict>
</plist>
