<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.everhourImporter</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>Your token</string>
			<key>name</key>
			<string>token</string>
			<key>type</key>
			<string>password</string>
		</dict>
	</array>
	<key>GlobalsInfo</key>
	<string>Enter your Everhour token to allow access to your data. You can find the token in your Everhour settings.</string>
	<key>GrandTotalMinimumVersion</key>
	<integer>6</integer>
	<key>copyright</key>
	<string>© 2020 Stefan Fürst</string>
	<key>types</key>
	<array>
		<string>timeimporter</string>
	</array>
</dict>
</plist>
