<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.grandtotal.plugin.roundtimes</string>
	<key>types</key>
	<array>
		<string>invoices</string>
	</array>
	<key>menuValidationKeyPath</key>
	<string>isUnlocked</string>
	<key>copyright</key>
	<string>© 2015-2023 Stefan Fürst</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>GrandTotal3Ready</key>
	<true/>
</dict>
</plist>
