<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.Tim.grandtotalimporter</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>Round to</string>
			<key>name</key>
			<string>roundTo</string>
			<key>buttonlabel</key>
			<string>Minutes</string>
			<key>type</key>
			<string>integer</string>
			<key>default</key>
			<real>1</real>
		</dict>
		<dict>
			<key>label</key>
			<string>More about Tim</string>
			<key>url</key>
			<string>https://tim.neat.software</string>
			<key>type</key>
			<string>link</string>
		</dict>
	</array>
	<key>URL</key>
	<string>https://github.com/mediaatelier/GrandTotal-Plugins/raw/master/Time%20Importer/Tim.grandtotalplugin.zip</string>
	<key>copyright</key>
	<string>© 2022 Stefan Fürst</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>GlobalsInfo</key>
	<string></string>
	<key>GrandTotalMinimumVersion</key>
	<real>7</real>
	<key>types</key>
	<array>
		<string>timeimporter</string>
	</array>
</dict>
</plist>
