<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Icon.pdf</string>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.translate.DeepL</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>default</key>
			<string>FREE</string>
			<key>label</key>
			<string>Account</string>
			<key>name</key>
			<string>account</string>
			<key>options</key>
			<array>
				<dict>
					<key>name</key>
					<string>DeepL API Free</string>
					<key>value</key>
					<string>FREE</string>
				</dict>
				<dict>
					<key>name</key>
					<string>DeepL API Pro</string>
					<key>value</key>
					<string>PRO</string>
				</dict>
			</array>
			<key>type</key>
			<string>select</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Token</string>
			<key>name</key>
			<string>token</string>
			<key>type</key>
			<string>password</string>
		</dict>
		<dict>
			<key>default</key>
			<string>EN-US</string>
			<key>label</key>
			<string>Language</string>
			<key>name</key>
			<string>language</string>
			<key>options</key>
			<array>
				<dict>
					<key>value</key>
					<string>BG</string>
				</dict>
				<dict>
					<key>value</key>
					<string>CS</string>
				</dict>
				<dict>
					<key>value</key>
					<string>DA</string>
				</dict>
				<dict>
					<key>value</key>
					<string>DE</string>
				</dict>
				<dict>
					<key>value</key>
					<string>EL</string>
				</dict>
				<dict>
					<key>value</key>
					<string>EN-GB</string>
				</dict>
				<dict>
					<key>value</key>
					<string>EN-US</string>
				</dict>
				<dict>
					<key>value</key>
					<string>ES</string>
				</dict>
				<dict>
					<key>value</key>
					<string>ET</string>
				</dict>
				<dict>
					<key>value</key>
					<string>FI</string>
				</dict>
				<dict>
					<key>value</key>
					<string>FR</string>
				</dict>
				<dict>
					<key>value</key>
					<string>HU</string>
				</dict>
				<dict>
					<key>value</key>
					<string>IT</string>
				</dict>
				<dict>
					<key>value</key>
					<string>JA</string>
				</dict>
				<dict>
					<key>value</key>
					<string>LT</string>
				</dict>
				<dict>
					<key>value</key>
					<string>LV</string>
				</dict>
				<dict>
					<key>value</key>
					<string>NL</string>
				</dict>
				<dict>
					<key>value</key>
					<string>PL</string>
				</dict>
				<dict>
					<key>value</key>
					<string>PT-PT</string>
				</dict>
				<dict>
					<key>value</key>
					<string>PT-BR</string>
				</dict>
				<dict>
					<key>value</key>
					<string>RO</string>
				</dict>
				<dict>
					<key>value</key>
					<string>RU</string>
				</dict>
				<dict>
					<key>value</key>
					<string>SK</string>
				</dict>
				<dict>
					<key>value</key>
					<string>SL</string>
				</dict>
				<dict>
					<key>value</key>
					<string>SV</string>
				</dict>
				<dict>
					<key>value</key>
					<string>ZH</string>
				</dict>
			</array>
			<key>subtype</key>
			<string>language</string>
			<key>type</key>
			<string>select</string>
		</dict>
		<dict>
			<key>default</key>
			<string>more</string>
			<key>label</key>
			<string>Formality</string>
			<key>name</key>
			<string>formality</string>
			<key>options</key>
			<array>
				<dict>
					<key>name</key>
					<string>Formal</string>
					<key>value</key>
					<string>more</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Informal</string>
					<key>value</key>
					<string>less</string>
				</dict>
			</array>
			<key>type</key>
			<string>select</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Sign Up</string>
			<key>type</key>
			<string>link</string>
			<key>url</key>
			<string>https://www.deepl.com/pro-api</string>
		</dict>
	</array>
	<key>GrandTotalMinimumVersion</key>
	<real>7.3</real>
	<key>copyright</key>
	<string>© 2022-2023 Stefan Fürst</string>
	<key>menuNameTemplate</key>
	<string>&lt;name/&gt; (&lt;language/&gt;)</string>
	<key>runAsynchronous</key>
	<true/>
	<key>menuValidationKeyPath</key>
	<string>isUnlocked</string>
	<key>types</key>
	<array>
		<string>items</string>
		<string>projects</string>
		<string>estimates</string>
		<string>invoices</string>
		<string>layouts</string>
		<string>languages</string>
		<string>catalogitems</string>
	</array>
</dict>
</plist>
