<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Icon.tiff</string>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.stripe.paymentlink</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>API Key</string>
			<key>name</key>
			<string>token</string>
			<key>type</key>
			<string>password</string>
		</dict>
		
	</array>
	<key>GlobalsInfo</key>
	<string>Enter your Stripe secret key</string>
	<key>GrandTotalMinimumVersion</key>
	<real>7</real>
	<key>URL</key>
	<string>https://github.com/mediaatelier/GrandTotal-Plugins/raw/master/WillSendDocument/StripePaymentLink.grandtotalplugin.zip</string>
	<key>copyright</key>
	<string>© 2022 Stefan Fürst</string>
	<key>types</key>
	<array>
		<string>PluginsMenu</string>
		<string>WillRenderDocument</string>
	</array>
</dict>
</plist>
