<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.sendto.shakehandsKontor</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>GrandTotalMinimumVersion</key>
	<integer>7</integer>
	<key>URL</key>
	<string>https://github.com/mediaatelier/GrandTotal-Plugins/raw/master/Send%20To%20Menu/Send%20to%20shakehands%20Kontor.grandtotalplugin.zip</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>Company ID</string>
			<key>name</key>
			<string>companyID</string>
			<key>type</key>
			<string>string</string>
			<key>default</key>
			<string>1</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Debit</string>
			<key>name</key>
			<string>debitAccount</string>
			<key>type</key>
			<string>string</string>
			<key>default</key>
			<string>1050</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Credit 7.7%</string>
			<key>name</key>
			<string>credit_7_7_Account</string>
			<key>type</key>
			<string>string</string>
			<key>default</key>
			<string>6200</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Credit 2.5%</string>
			<key>name</key>
			<string>credit_2_5_Account</string>
			<key>type</key>
			<string>string</string>
			<key>default</key>
			<string>6100</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Credit 0%</string>
			<key>name</key>
			<string>credit_0_Account</string>
			<key>type</key>
			<string>string</string>
			<key>default</key>
			<string>6099</string>
		</dict>
	</array>
	<key>SendToMenu</key>
	<dict>
		<key>ApplicationFileExtension</key>
		<string>txt</string>
		<key>ApplicationIdentifiers</key>
		<array>
			<string>com.shakehands.kontor2022</string>
			<string>com.shakehands.kontor2023</string>
			<string>com.shakehands.kontor2024</string>
		</array>
		<key>ApplicationMinimumVersion</key>
		<string>1.0</string>
		<key>ApplicationName</key>
		<string>shakehands Kontor</string>
		<key>AskForFile</key>
		<true/>
		<key>ApplicationFileName</key>
		<string>shakehands Kontor.txt</string>
	</dict>
	<key>copyright</key>
	<string>© 2022 Stefan Fürst</string>
	<key>types</key>
	<array>
		<string>sendtomenu</string>
	</array>
</dict>
</plist>
