<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Icon.pdf</string>
	<key>CFBundleIdentifier</key>
	<string>org.kimai.grandtotal</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>Your Kimai URL</string>
			<key>name</key>
			<string>url</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Your Kimai API token</string>
			<key>name</key>
			<string>token</string>
			<key>type</key>
			<string>password</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Load exported times</string>
			<key>name</key>
			<string>loadExported</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Load times for all user</string>
			<key>name</key>
			<string>loadAllUsers</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>label</key>
			<string>More about Kimai</string>
			<key>url</key>
			<string>https://www.kimai.org/</string>
			<key>type</key>
			<string>link</string>
		</dict>
	</array>
	<key>copyright</key>
	<string>© 2019-2024 Kevin Papst</string>
	<key>CFBundleVersion</key>
	<string>2.2</string>
	<key>GlobalsInfo</key>
	<string>Enter your Kimai URL, username and API token to allow access to your data.</string>
	<key>GrandTotalMinimumVersion</key>
	<real>4</real>
	<key>URL</key>
	<string>https://github.com/Keleo/kimai2-grandtotal/raw/master/Kimai2.grandtotalplugin.zip</string>
	<key>types</key>
	<array>
		<string>timeimporter</string>
	</array>
</dict>
</plist>
