<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.timematorimporter</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>Home page</string>
			<key>type</key>
			<string>link</string>
			<key>url</key>
			<string>https://timemator.com/</string>
		</dict>
	</array>
	<key>GrandTotalMinimumVersion</key>
	<real>8</real>
	<key>URL</key>
	<string>https://github.com/mediaatelier/GrandTotal-Plugins/raw/master/Time%20Importer/Timemator.grandtotalplugin.zip</string>
	<key>copyright</key>
	<string>© 2022 Stefan Fürst</string>
	<key>types</key>
	<array>
		<string>timeimporter</string>
	</array>
</dict>
</plist>
