<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Icon.pdf</string>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.mfrimporter</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>User name</string>
			<key>name</key>
			<string>username</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Password</string>
			<key>name</key>
			<string>password</string>
			<key>type</key>
			<string>password</string>
		</dict>
	</array>
	<key>GlobalsInfo</key>
	<string>Enter your mfr login credentials</string>
	<key>GrandTotalMinimumVersion</key>
	<real>8</real>
	<key>URL</key>
	<string>https://github.com/mediaatelier/GrandTotal-Plugins/raw/master/Time%20Importer/mfr.grandtotalplugin.zip</string>
	<key>copyright</key>
	<string>© 2024 Stefan Fürst</string>
	<key>types</key>
	<array>
		<string>timeimporter</string>
	</array>
</dict>
</plist>
