<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.grandtotal.e-invoice.ZUGFeRD_2.1.1</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>More about EN16931</string>
			<key>type</key>
			<string>link</string>
			<key>url</key>
			<string>http://www.ferd-net.de/</string>
		</dict>
	</array>
	<key>GlobalsInfo</key>
	<string>Info for Plugin</string>
	<key>GrandTotalMinimumVersion</key>
	<integer>7</integer>
	<key>MetaValues</key>
	<dict>
		<key>client</key>
		<dict>
			<key>label</key>
			<string>ZUGFeRD</string>
			<key>preferredPosition</key>
			<string>GTClientSEPAViewController</string>
			<key>rows</key>
			<array>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>key</key>
							<string>ram:BuyerReference</string>
							<key>type</key>
							<string>String</string>
						</dict>
						<dict>
							<key>label</key>
							<string>BT-10</string>
							<key>type</key>
							<string>Label</string>
						</dict>
					</array>
					<key>label</key>
					<string>Buyer Reference</string>
				</dict>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>key</key>
							<string>ram:SellerTradeParty:ID</string>
							<key>type</key>
							<string>String</string>
						</dict>
						<dict>
							<key>label</key>
							<string>BT-29</string>
							<key>type</key>
							<string>Label</string>
						</dict>
					</array>
					<key>label</key>
					<string>Seller ID</string>
				</dict>
			</array>
		</dict>
		<key>externalFile</key>
		<dict>
			<key>label</key>
			<string>ZUGFeRD</string>
			<key>preferredPosition</key>
			<string>GTMailWithParentDocumentController</string>
			<key>rows</key>
			<array>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>key</key>
							<string>ram:AdditionalReferencedDocument:Include</string>
							<key>type</key>
							<string>Boolean</string>
							<key>label</key>
							<string>Include</string>
						</dict>
					</array>
					<key>label</key>
					<string>Embed</string>
				</dict>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>key</key>
							<string>ram:AdditionalReferencedDocument:IssuerAssignedID</string>
							<key>type</key>
							<string>String</string>
						</dict>
						<dict>
							<key>label</key>
							<string>BT-122</string>
							<key>type</key>
							<string>Label</string>
						</dict>
					</array>
					<key>label</key>
					<string>Document ID</string>
				</dict>
			</array>
		</dict>
		<key>invoice</key>
		<dict>
			<key>label</key>
			<string>ZUGFeRD</string>
			<key>preferredPosition</key>
			<string>GTSendableNameController</string>
			<key>rows</key>
			<array>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>key</key>
							<string>ram:BuyerReference</string>
							<key>type</key>
							<string>String</string>
							<key>width</key>
							<integer>260</integer>
						</dict>
						<dict>
							<key>label</key>
							<string>BT-10</string>
							<key>type</key>
							<string>Label</string>
						</dict>
					</array>
					<key>label</key>
					<string>Buyer Reference</string>
				</dict>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>key</key>
							<string>ram:SpecifiedProcuringProject:ID</string>
							<key>type</key>
							<string>String</string>
							<key>width</key>
							<integer>260</integer>
						</dict>
						<dict>
							<key>label</key>
							<string>BT-11</string>
							<key>type</key>
							<string>Label</string>
						</dict>
					</array>
					<key>label</key>
					<string>Project Reference</string>
				</dict>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>key</key>
							<string>ram:SpecifiedProcuringProject:Name</string>
							<key>type</key>
							<string>String</string>
							<key>width</key>
							<integer>260</integer>
						</dict>
						<dict>
							<key>label</key>
							<string>BT-11-0</string>
							<key>type</key>
							<string>Label</string>
						</dict>
					</array>
					<key>label</key>
					<string>Project Name</string>
				</dict>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>key</key>
							<string>ram:ContractReferencedDocument:IssuerAssignedID</string>
							<key>type</key>
							<string>String</string>
							<key>width</key>
							<integer>260</integer>
						</dict>
						<dict>
							<key>label</key>
							<string>BT-12</string>
							<key>type</key>
							<string>Label</string>
						</dict>
					</array>
					<key>label</key>
					<string>Contract Reference</string>
				</dict>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>key</key>
							<string>ram:BuyerOrderReferencedDocument:IssuerAssignedID</string>
							<key>type</key>
							<string>String</string>
							<key>width</key>
							<integer>260</integer>
						</dict>
						<dict>
							<key>label</key>
							<string>BT-13</string>
							<key>type</key>
							<string>Label</string>
						</dict>
					</array>
					<key>label</key>
					<string>Order Reference</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>copyright</key>
	<string>© 2020 Stefan Fürst</string>
	<key>syncedPreferences</key>
	<true/>
	<key>types</key>
	<array>
		<string>e-invoice</string>
	</array>
</dict>
</plist>
