{"openapi":"3.0.0","info":{"title":"awork API","version":"1.3.0","description":"This is the API documentation for awork.","termsOfService":"https://www.awork.com/legal-and-privacy/privacy-policy-awork-app","contact":{"name":"awork Support","url":"https://support.awork.com","email":"support@awork.com"}},"servers":[{"url":"https://api.awork.com/api/v1","description":"awork Production"}],"paths":{"/absenceregions":{"get":{"tags":["AbsenceRegions"],"summary":"Gets all the absence regions.","description":"Gets all the absence regions of the workspace.\r\n            Depending on the user's permissions, the visibility of users assigned to the regions may vary.\r\n            Admin will see all users assigned to all regions.\r\n            Planner users with User Team Filter on (UserTeamsData) will only see same team users assigned to the regions.\r\n            Any other user will only see themselves assigned to the regions.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AbsenceRegionModel"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}},"post":{"tags":["AbsenceRegions"],"summary":"Creates a new absence region.","description":"Creates a new absence region.\r\n            An absence region is defined by an ISO 3166-1 alpha-2 country code and a location code.\r\n            There can be multiple absence regions for a country, but only one absence region for a country and location. (no duplicates)\r\n\r\n<Info title=\"Subscription Level\">This endpoint requires the Standard plan or higher.</Info>\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have user-planning-data:write permissions.</Check>","requestBody":{"description":"The model to create the absence region.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbsenceRegionForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbsenceRegionModel"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","user-planning-data":"write"},"x-subscriptionlevel":{"minimumPlan":"standard"}}},"/absenceregions/countries":{"get":{"tags":["AbsenceRegions"],"summary":"List of supported countries for absence regions.","description":"Returns a list of supported countries for absence regions.\r\n            A country is defined by an ISO 3166-1 alpha-2 country code.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AbsenceRegionCountry"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/absenceregions/countries/{countryCode}/locations":{"get":{"tags":["AbsenceRegions"],"summary":"List of locations for a country.","description":"Returns a list of all the locations of a country, expressed as ISO 3166-2 codes.\r\n            It will include the regions and subregions (sublocations) of the country if available.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"countryCode","in":"path","description":"The ISO 3166-1 alpha-2 country code.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AbsenceRegionLocation"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/absenceregions/me/assign":{"put":{"tags":["AbsenceRegions"],"summary":"Assign/remove current user to/from an absence region.","description":"Assigns or removes the current user to/from an absence region.\r\n            A user can be assigned to only one absence region.\r\n            As such, if a user is already assigned to an absence region, he will be removed from the previous one and assigned to the new one.\r\n            Providing a null region id will remove the user from any absence region.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","requestBody":{"description":"The model assign users to the region.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignUserToAbsenceRegionForm"}}}},"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/absenceregions/users/assign":{"put":{"tags":["AbsenceRegions"],"summary":"Assign/remove users to an absence region.","description":"Only an admin or a user with UserPlanningData(write) permissions can assign/remove any user to an absence region.\r\n            A user can be assigned to only one absence region.\r\n            As such, if a user is already assigned to an absence region, he will be removed from the previous one and assigned to the new one.\r\n            Providing an empty list of user ids will remove all users from the absence region.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have user-planning-data:write permissions.</Check>","requestBody":{"description":"The model assign/remove users to/from the region.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignUsersToAbsenceRegionForm"}}}},"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","user-planning-data":"write"}}},"/absenceregions/{absenceRegionId}":{"delete":{"tags":["AbsenceRegions"],"summary":"Deletes an absence region.","description":"Deletes an absence region by id, unassigning all users from the absence region.\r\n            If there are workspace absences related to the region, they will be deleted as well.\r\n            If the absence region is the default absence region, it will simply be deleted. (no default absence region).\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have user-planning-data:write permissions.</Check>","parameters":[{"name":"absenceRegionId","in":"path","description":"The id of the absence region to delete.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","user-planning-data":"write"}},"get":{"tags":["AbsenceRegions"],"summary":"Get an absence region by id.","description":"Get an absence region by id.\r\n            It will include the details of the public holidays for the country and location.\r\n            Depending on the user's permissions, the visibility of users assigned to the regions may vary.\r\n            Admin will see all users assigned to all regions.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"absenceRegionId","in":"path","description":"The id of the absence region to fetch.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbsenceRegionModelWithHolidayDetails"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}},"put":{"tags":["AbsenceRegions"],"summary":"Updates an absence region.","description":"Updates an absence region.\r\n            It is possible to update the name, country code, location code, and default status of an absence region.\r\n            The name of the absence region must be unique.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have user-planning-data:write permissions.</Check>","parameters":[{"name":"absenceRegionId","in":"path","description":"The id of the absence region to delete.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to update the absence region.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbsenceRegionForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbsenceRegionModel"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","user-planning-data":"write"}}},"/absences":{"get":{"tags":["Absences"],"summary":"Returns all absences.","description":"Admin or user planning data permissions are required,\r\n            otherwise only the absences of the current user are returned.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/orderby"},{"$ref":"#/components/parameters/filterby"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Absence"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}},"post":{"tags":["Absences"],"summary":"Creates a new absence.","description":"User planning data permissions are required if the calling user\r\n            is not the owner of the absence or admin.\r\n            The startOn and endOn get rounded to 00:00:00, 12:00:00, or 23:59:59 in UTC.\r\n            These values can be used to set a half-day (pre or post mid-day) absence, or absences that start or end at mid-day.\r\n            The end date needs to be the same or after the start date.\r\n\r\n<Info title=\"Subscription Level\">This endpoint requires the Standard plan or higher.</Info>\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","requestBody":{"description":"The absence to create.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbsenceForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Absence"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"},"x-subscriptionlevel":{"minimumPlan":"standard"}}},"/absences/{absenceId}":{"delete":{"tags":["Absences"],"summary":"Deletes the absence with the specified id.","description":"User planning data permissions are required if the calling user\r\n            is not the owner of the absence or admin.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"absenceId","in":"path","description":"The id of the absence to delete.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}},"get":{"tags":["Absences"],"summary":"Returns the absence with the specified id.","description":"User planning data permissions are required if the calling user\r\n            is not the owner of the absence or admin.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"absenceId","in":"path","description":"The id of the absence to get.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Absence"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}},"put":{"tags":["Absences"],"summary":"Updates the absence with the specified id.","description":"User planning data permissions are required if the calling user\r\n            is not the owner of the absence or admin.\r\n            The startOn and endOn get rounded to 00:00:00, 12:00:00, or 23:59:59 in UTC.\r\n            These values can be used to set a half-day (pre or post mid-day) absence, or absences that start or end at mid-day.\r\n            The end date needs to be the same or after the start date.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"absenceId","in":"path","description":"The id of the absence to update.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model with the updated values.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbsenceForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Absence"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/accounts/{accountId}":{"put":{"tags":["Accounts"],"summary":"Updates the account with the specified id.","description":"Updates the account with the specified id.\nDoes not update the external account of the user.\nUse the 'accounts/connectToSocialAccount' or 'accounts/disconnectToSocialAccount' endpoints instead.\nIf the email of the account is changed, the email will not be changed immediately but a verification email will be sent to the new email address.\nThe email will only be changed after the user has verified the new email address.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"accountId","in":"path","description":"The id of the account.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to update the account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountForm"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AccountForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/apiusers":{"get":{"tags":["ApiUsers"],"summary":"Returns all API users.","description":"Returns all API users.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have workspace-manage-config:read permissions.</Check>","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiUser"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","workspace-manage-config":"read"}},"post":{"tags":["ApiUsers"],"summary":"Creates a new API user.","description":"Creates a new API user.\r\n            Beware: API users will also be returned in the /users response when including\r\n            archived users.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have workspace-manage-config:write permissions.</Check>","requestBody":{"description":"The API user to create.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiUserPostForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiUser"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","workspace-manage-config":"write"}}},"/apiusers/{apiUserId}":{"delete":{"tags":["ApiUsers"],"summary":"Deletes the API user with the specified id.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have workspace-manage-config:write permissions.</Check>","parameters":[{"name":"apiUserId","in":"path","description":"The id of the API user.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","workspace-manage-config":"write"}},"get":{"tags":["ApiUsers"],"summary":"Returns the API user with the specified id.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have workspace-manage-config:read permissions.</Check>","parameters":[{"name":"apiUserId","in":"path","description":"The id of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiUser"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","workspace-manage-config":"read"}},"put":{"tags":["ApiUsers"],"summary":"Updates the API user with the specified id.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have workspace-manage-config:write permissions.</Check>","parameters":[{"name":"apiUserId","in":"path","description":"The id of the API user.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The new API user values.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiUserForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiUser"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","workspace-manage-config":"write"}}},"/autopilot/availablealerts":{"get":{"tags":["Autopilot"],"summary":"Returns all available alerts for autopilots.","description":"Returns all available alerts for autopilots.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}},"example":["behind_schedule","overdue"]}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/autopilot/{autopilotId}":{"get":{"tags":["Autopilot"],"summary":"Returns the autopilot with the specified id.","description":"Returns the autopilot including its alerts.\nTo get the autopilot data the user needs to be the owner of the project or 'read' permissions\nof the feature 'project-master-data' globally or in his project role.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"autopilotId","in":"path","description":"The id of the autopilot.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Autopilot"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/clientapplications":{"get":{"tags":["ClientApplications"],"summary":"Returns all client applications.","description":"Returns all client applications.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have workspace-manage-config:read permissions.</Check>","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientApplication"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","workspace-manage-config":"read"}},"post":{"tags":["ClientApplications"],"summary":"Registers a new client application.","description":"Registers a new client application.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have workspace-manage-config:write permissions.</Check>","requestBody":{"description":"The client application model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientApplicationCreateForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientApplicationCreateResponse"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","workspace-manage-config":"write"}}},"/clientapplications/register":{"post":{"tags":["ClientApplications"],"summary":"Dynamically registers a new OAuth 2.0 client according to RFC 7591.","description":"This endpoint implements the OAuth 2.0 Dynamic Client Registration Protocol.\nIt allows clients to register themselves with the authorization server dynamically.","requestBody":{"description":"The dynamic client registration request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicClientRegistrationRequest"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicClientRegistrationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicClientRegistrationError"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"]}},"/clientapplications/{clientId}":{"delete":{"tags":["ClientApplications"],"summary":"Deletes the specified client application.","description":"Deletes the specified client application.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have workspace-manage-config:write permissions.</Check>","parameters":[{"name":"clientId","in":"path","description":"The id of the client application.","required":true,"schema":{"type":"string"},"example":"googlesheet"}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","workspace-manage-config":"write"}},"get":{"tags":["ClientApplications"],"summary":"Returns the client application with the specified id.","description":"Returns the client application with the specified id.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have workspace-manage-config:read permissions.</Check>","parameters":[{"name":"clientId","in":"path","description":"The id of the client application.","required":true,"schema":{"type":"string"},"example":"googlesheet"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientApplication"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","workspace-manage-config":"read"}},"put":{"tags":["ClientApplications"],"summary":"Updates the client application with the specified id.","description":"Updates the client application with the specified id.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have workspace-manage-config:write permissions.</Check>","parameters":[{"name":"clientId","in":"path","description":"The id of the client application.","required":true,"schema":{"type":"string"},"example":"integration"}],"requestBody":{"description":"The client application model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientApplicationUpdateForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientApplication"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","workspace-manage-config":"write"}}},"/clientapplications/{clientId}/generateapikey":{"post":{"tags":["ClientApplications"],"summary":"Generates an API key for the specified client application.","description":"Generates an API key for the specified client application.\nRequires an API user.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have workspace-manage-config:read permissions.</Check>","parameters":[{"name":"clientId","in":"path","description":"The id of the client application.","required":true,"schema":{"type":"string"},"example":"googlesheet"}],"requestBody":{"description":"The model to generate an API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientApplicationApiKeyForm"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ClientApplicationApiKeyForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","workspace-manage-config":"read"}}},"/clientapplications/{clientId}/generatesecret":{"post":{"tags":["ClientApplications"],"summary":"Generates a new secret for the specified client application.","description":"Generates a new secret for the specified client application.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have workspace-manage-config:write permissions.</Check>","parameters":[{"name":"clientId","in":"path","description":"The id of the client application.","required":true,"schema":{"type":"string"},"example":"googlesheet"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientApplicationGeneratePasswordResponse"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","workspace-manage-config":"write"}}},"/comments/{commentId}/externalfiles":{"post":{"tags":["CommentFiles"],"summary":"Endpoint to batch create external files without uploading.","description":"Endpoint to create file infos with batch operation.\nCreated file infos don't have a version.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"List of file forms.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalFileForm"}}},"application/*+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalFileForm"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/comments/{commentId}/files":{"delete":{"tags":["CommentFiles"],"summary":"Deletes the files of the specified comment.","description":"Deletes the metadata and the different versions of the files.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}},"get":{"tags":["CommentFiles"],"summary":"Returns all files of the comment with the specified id.","description":"Returns all file metadata of the comment with the specified id.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/orderby"},{"$ref":"#/components/parameters/filterby"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"post":{"tags":["CommentFiles"],"summary":"Creates a new comment file for the comment with the specified id..","description":"Uploads a new comment file for the comment with the specified id.\nUse this to upload a file as a form value along with the basic file meta data.\nThe file size must not exceed 1GB.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["File"],"type":"object","properties":{"File":{"type":"string","format":"binary"}}},"encoding":{"File":{"style":"form"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}},"400":{"description":"Bad Request"}}}},"/comments/{commentId}/files/byurl":{"post":{"tags":["CommentFiles"],"summary":"Uploads a new file by providing an url.","description":"The file needs to be a public available url.\nThe file size must not exceed 100MB.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment the file is linked to.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The url, name and description of the file.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilePostForm"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FilePostForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/comments/{commentId}/files/{fileId}":{"delete":{"tags":["CommentFiles"],"summary":"Deletes the comment file with the specified id.","description":"Deletes the metadata and the different versions of the file.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}},"get":{"tags":["CommentFiles"],"summary":"Returns the file with the specified id of the comment with the specified id.","description":"Returns the file metadata of the comment with the specified id.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}},"put":{"tags":["CommentFiles"],"summary":"Updates the metadata of the comment file with the specified id.","description":"Updates the metadata of the comment file with the specified id.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to update the file with the specified id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfoUpdateForm"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FileInfoUpdateForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/comments/{commentId}/files/{fileId}/changeentity":{"post":{"tags":["CommentFiles"],"summary":"Changes the comment this file belongs to.","description":"Changes the comment this file belongs to.\nSwitch to the specified comment or to a global file\nif the 'EntityId' of the model is set to null.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to change the entity information of the file.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileEntityForm"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FileEntityForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/comments/{commentId}/files/{fileId}/copy":{"post":{"tags":["CommentFiles"],"summary":"Copies the file to a new comment.","description":"Copies the file to a new comment (meta and content).","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to change the entity information of the file.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileCopyForm"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FileCopyForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/comments/{commentId}/files/{fileId}/download":{"get":{"tags":["CommentFiles"],"summary":"Returns the content of the comment file with the specified id.","description":"Returns the content of the comment file. Uses the latest file version.\nIf the comment file is an image and the width and height are set,\nthe image will be resized before it is returned.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"width","in":"query","description":"Set width to resize.","schema":{"type":"number","format":"double"}},{"name":"height","in":"query","description":"Set height to resize.","schema":{"type":"number","format":"double"}},{"name":"crop","in":"query","description":"Whether to crop the image when resizing it.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","format":"binary"}}}}}}},"/comments/{commentId}/files/{fileId}/pdf":{"get":{"tags":["CommentFiles"],"summary":"Returns the content of the file with the specified id as pdf.\ntype or conversion not possible.","description":"Returns the content of the comment file. Uses the latest file version.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"inline","in":"query","description":"If inline is false, content-disposition header is attachment.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","format":"binary"}}}}}}},"/comments/{commentId}/files/{fileId}/shareurl":{"get":{"tags":["CommentFiles"],"summary":"Returns an url to share the file.","description":"Returns a url to share the file.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/comments/{commentId}/files/{fileId}/versions":{"get":{"tags":["CommentFiles"],"summary":"Returns all file versions of the specified comment file.","description":"Returns all file versions of the specified comment file.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/orderby"},{"$ref":"#/components/parameters/filterby"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FileVersion"}}}}}}},"post":{"tags":["CommentFiles"],"summary":"Uploads a new version of the comment file with the specified id.","description":"Uploads a new version of an comment file.\nUse this to upload a file as a form value along with the basic file meta data.\nThe file size must not exceed 1GB.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["File"],"type":"object","properties":{"File":{"type":"string","format":"binary"}}},"encoding":{"File":{"style":"form"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileVersion"}}}},"400":{"description":"Bad Request"}}}},"/comments/{commentId}/files/{fileId}/versions/{versionId}":{"get":{"tags":["CommentFiles"],"summary":"Returns the comment file version with the specified id.","description":"Returns the comment file version with the specified id.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"versionId","in":"path","description":"The id of the file version.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileVersion"}}}}}}},"/comments/{commentId}/files/{fileId}/versions/{versionId}/download":{"get":{"tags":["CommentFiles"],"summary":"Returns the content of the comment file version with the specified id.","description":"Returns the content of the comment file version with the specified id.","parameters":[{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"versionId","in":"path","description":"The id of the file version.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/File"}}}}}}},"/companies":{"get":{"tags":["Companies"],"summary":"Returns all companies.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have company-master-data:read permissions.</Check>","parameters":[{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/orderby"},{"$ref":"#/components/parameters/filterby"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Company"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","company-master-data":"read"}},"post":{"tags":["Companies"],"summary":"Creates a new company.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have company-master-data:write permissions.</Check>","requestBody":{"description":"The company to create.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","company-master-data":"write"}}},"/companies/deletetags":{"post":{"tags":["CompanyTags"],"summary":"Removes tag from all entities.","description":"Removes tag from all companies.\r\n            To delete the tags the user needs 'write' permissions on the specified entity.\r\n            Returns 204 NoContent if tag has been removed successfully.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","requestBody":{"description":"The model to remove the tag.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTagForm"}}}},"responses":{"200":{"description":"OK"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/companies/industries":{"get":{"tags":["Companies"],"summary":"Returns all company industries that are currently in use.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have company-master-data:read permissions.</Check>","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","company-master-data":"read"}}},"/companies/tags":{"get":{"tags":["CompanyTags"],"summary":"Returns all tags that are currently in use.","description":"Returns all tags that are currently in use ordered by count.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseTagModel"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/companies/{companyId}":{"get":{"tags":["Companies"],"summary":"Returns the company with the specified id.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have company-master-data:read permissions.</Check>","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","company-master-data":"read"}},"put":{"tags":["Companies"],"summary":"Updates the company with the specified id.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have company-master-data:write permissions.</Check>","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The new company values.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","company-master-data":"write"}}},"/companies/{companyId}/addtags":{"post":{"tags":["CompanyTags"],"summary":"Adds a batch of new tags to the company with the specified id.","description":"The request fails if one of the tags is invalid (e.g. empty or duplicate).\r\n            To create the tags the user needs 'write' permissions on the specified company.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to add tags.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TagForm"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseTagModel"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/companies/{companyId}/contactinfo":{"get":{"tags":["Companies"],"summary":"Returns the contact infos of the company with the specified id.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have company-master-data:read permissions.</Check>","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/orderby"},{"$ref":"#/components/parameters/filterby"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContactInfoForCompanies"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","company-master-data":"read"}},"post":{"tags":["Companies"],"summary":"Creates a new contact info for the company with the specified id.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have company-master-data:write permissions.</Check>","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The contact info to create.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactInfoForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactInfoForCompanies"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","company-master-data":"write"}}},"/companies/{companyId}/contactinfo/{contactInfoId}":{"delete":{"tags":["Companies"],"summary":"Deletes the contact info of the company with the specified id.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have company-master-data:write permissions.</Check>","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"contactInfoId","in":"path","description":"The id of the contact info.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","company-master-data":"write"}},"get":{"tags":["Companies"],"summary":"Returns the specified contact info of the company with the specified id.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have company-master-data:read permissions.</Check>","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"contactInfoId","in":"path","description":"The id of the contact info.","required":true,"schema":{"type":"string","format":"uuid"}},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/orderby"},{"$ref":"#/components/parameters/filterby"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactInfoForCompanies"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","company-master-data":"read"}},"put":{"tags":["Companies"],"summary":"Updates the contact info for the company with the specified id.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have company-master-data:write permissions.</Check>","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"contactInfoId","in":"path","description":"The id of the contactInfo.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The contact info to update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactInfoForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactInfoForCompanies"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","company-master-data":"write"}}},"/companies/{companyId}/delete":{"post":{"tags":["Companies"],"summary":"Deletes the company with the specified id.","description":"There are several ways to delete a company.\r\n            Look into the property description of the post model to get detailed information.\r\n            <br />If the post is executed without a model, the default process 'delete-only-company' will be executed.\r\n            <br />For the operation 'delete-all-without-timeentries' project-master-data write permissions are required on all projects of the company.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have company-master-data:write permissions.</Check>","parameters":[{"name":"companyId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyDeleteForm"}}}},"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","company-master-data":"write"}}},"/companies/{companyId}/deletetags":{"post":{"tags":["CompanyTags"],"summary":"Removes tags from the company with the specified id.","description":"Removes tags from the company with the specified id.\r\n            To delete the tags the user needs 'write' permissions on the specified company.\r\n            Returns 204 NoContent if all tags have been removed successfully.\r\n            Returns 207 MultiStatus if at least one tag could not be removed, including the reasons.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to remove the tag.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteTagForm"}}}}},"responses":{"200":{"description":"OK"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/companies/{companyId}/externalfiles":{"post":{"tags":["CompanyFiles"],"summary":"Endpoint to batch create external files without uploading.","description":"Endpoint to create file infos with batch operation.\nCreated file infos don't have a version.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"List of file forms.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalFileForm"}}},"application/*+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalFileForm"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/companies/{companyId}/files":{"delete":{"tags":["CompanyFiles"],"summary":"Deletes the files of the specified company.","description":"Deletes the metadata and the different versions of the files.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}},"get":{"tags":["CompanyFiles"],"summary":"Returns all files of the company with the specified id.","description":"Returns all file metadata of the company with the specified id.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/orderby"},{"$ref":"#/components/parameters/filterby"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"post":{"tags":["CompanyFiles"],"summary":"Creates a new company file for the company with the specified id..","description":"Uploads a new company file for the company with the specified id.\nUse this to upload a file as a form value along with the basic file meta data.\nThe file size must not exceed 1GB.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["File"],"type":"object","properties":{"File":{"type":"string","format":"binary"}}},"encoding":{"File":{"style":"form"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}},"400":{"description":"Bad Request"}}}},"/companies/{companyId}/files/byurl":{"post":{"tags":["CompanyFiles"],"summary":"Uploads a new file by providing an url.","description":"The file needs to be a public available url.\nThe file size must not exceed 100MB.","parameters":[{"name":"companyId","in":"path","description":"The id of the company the file is linked to.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The url, name and description of the file.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilePostForm"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FilePostForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/companies/{companyId}/files/{fileId}":{"delete":{"tags":["CompanyFiles"],"summary":"Deletes the company file with the specified id.","description":"Deletes the metadata and the different versions of the file.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}},"get":{"tags":["CompanyFiles"],"summary":"Returns the file with the specified id of the company with the specified id.","description":"Returns the file metadata of the company with the specified id.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}},"put":{"tags":["CompanyFiles"],"summary":"Updates the metadata of the company file with the specified id.","description":"Updates the metadata of the company file with the specified id.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to update the file with the specified id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfoUpdateForm"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FileInfoUpdateForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/companies/{companyId}/files/{fileId}/changeentity":{"post":{"tags":["CompanyFiles"],"summary":"Changes the company this file belongs to.","description":"Changes the company this file belongs to.\nSwitch to the specified company or to a global file\nif the 'EntityId' of the model is set to null.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to change the entity information of the file.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileEntityForm"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FileEntityForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/companies/{companyId}/files/{fileId}/copy":{"post":{"tags":["CompanyFiles"],"summary":"Copies the file to a new company.","description":"Copies the file to a new company (meta and content).","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to change the entity information of the file.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileCopyForm"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FileCopyForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/companies/{companyId}/files/{fileId}/download":{"get":{"tags":["CompanyFiles"],"summary":"Returns the content of the company file with the specified id.","description":"Returns the content of the company file. Uses the latest file version.\nIf the company file is an image and the width and height are set,\nthe image will be resized before it is returned.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"width","in":"query","description":"Set width to resize.","schema":{"type":"number","format":"double"}},{"name":"height","in":"query","description":"Set height to resize.","schema":{"type":"number","format":"double"}},{"name":"crop","in":"query","description":"Whether to crop the image when resizing it.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","format":"binary"}}}}}}},"/companies/{companyId}/files/{fileId}/pdf":{"get":{"tags":["CompanyFiles"],"summary":"Returns the content of the file with the specified id as pdf.\ntype or conversion not possible.","description":"Returns the content of the company file. Uses the latest file version.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"inline","in":"query","description":"If inline is false, content-disposition header is attachment.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","format":"binary"}}}}}}},"/companies/{companyId}/files/{fileId}/shareurl":{"get":{"tags":["CompanyFiles"],"summary":"Returns an url to share the file.","description":"Returns a url to share the file.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/companies/{companyId}/files/{fileId}/versions":{"get":{"tags":["CompanyFiles"],"summary":"Returns all file versions of the specified company file.","description":"Returns all file versions of the specified company file.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/orderby"},{"$ref":"#/components/parameters/filterby"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FileVersion"}}}}}}},"post":{"tags":["CompanyFiles"],"summary":"Uploads a new version of the company file with the specified id.","description":"Uploads a new version of an company file.\nUse this to upload a file as a form value along with the basic file meta data.\nThe file size must not exceed 1GB.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["File"],"type":"object","properties":{"File":{"type":"string","format":"binary"}}},"encoding":{"File":{"style":"form"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileVersion"}}}},"400":{"description":"Bad Request"}}}},"/companies/{companyId}/files/{fileId}/versions/{versionId}":{"get":{"tags":["CompanyFiles"],"summary":"Returns the company file version with the specified id.","description":"Returns the company file version with the specified id.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"versionId","in":"path","description":"The id of the file version.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileVersion"}}}}}}},"/companies/{companyId}/files/{fileId}/versions/{versionId}/download":{"get":{"tags":["CompanyFiles"],"summary":"Returns the content of the company file version with the specified id.","description":"Returns the content of the company file version with the specified id.","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"versionId","in":"path","description":"The id of the file version.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/File"}}}}}}},"/companies/{companyId}/tags":{"get":{"tags":["CompanyTags"],"summary":"Returns the tags of the companies with the specified id.","description":"Returns the tags of the company with the specified id ordered by name.\r\n            To read the tags the user needs 'read' permissions on the specified company.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseTagModel"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/companies/{companyId}/updatetags":{"post":{"tags":["CompanyTags"],"summary":"Updates a tag to the company with the specified id.","description":"To update the tag the user needs 'write' permissions on the specified entity.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"companyId","in":"path","description":"The id of the company.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to add tags.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagUpdateForm"}}}},"responses":{"200":{"description":"OK"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/customfielddefinitions":{"get":{"tags":["CustomFields"],"summary":"Returns all custom field definitions.","description":"The 'linkedProjectIds' are the project Ids that are linked to the custom field definition.\r\n                The 'linkedProjectIds' property will only be included when the 'includeLinkedProjectIds' parameter is set to 'true'.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"includeLinkedProjectIds","in":"query","description":"Whether to also include the linked project ids.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldDefinitionWithSelectionOptionsAndLinkedProjectIds"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}},"post":{"tags":["CustomFields"],"summary":"Creates a new custom field definition.","description":"Creates a new custom field definition. This custom field definition can then be linked to project templates and to tasks.\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have project-manage-config:write permissions.</Check>","requestBody":{"description":"The model containing the details for creating a new custom field definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldDefinitionPostForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldDefinition"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","project-manage-config":"write"}}},"/customfielddefinitions/{customFieldDefinitionId}":{"delete":{"tags":["CustomFields"],"summary":"Deletes the custom field definition with the specified id.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have project-manage-config:write permissions.</Check>","parameters":[{"name":"customFieldDefinitionId","in":"path","description":"The id of the custom field definition.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","project-manage-config":"write"}},"put":{"tags":["CustomFields"],"summary":"Updates an existing custom field definition with the specified id.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have project-manage-config:write permissions.</Check>","parameters":[{"name":"customFieldDefinitionId","in":"path","description":"The id of the custom field definition.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to change the custom field definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldDefinitionPutForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldDefinition"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","project-manage-config":"write"}}},"/customfielddefinitions/{customFieldDefinitionId}/selectionoptions":{"post":{"tags":["CustomFields"],"summary":"Creates a custom field selection option for an existing custom field definition.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have project-manage-config:write permissions.</Check>","parameters":[{"name":"customFieldDefinitionId","in":"path","description":"The id of the custom field definition.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The form to create a custom field selection option.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldSelectionOptionsForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldDefinition"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","project-manage-config":"write"}}},"/customfielddefinitions/{customFieldDefinitionId}/selectionoptions/{selectionOptionId}":{"delete":{"tags":["CustomFields"],"summary":"Deletes a custom field selection option for an existing custom field definition.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have project-manage-config:write permissions.</Check>","parameters":[{"name":"customFieldDefinitionId","in":"path","description":"The id of the custom field definition.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"selectionOptionId","in":"path","description":"The id of the selection option.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","project-manage-config":"write"}},"put":{"tags":["CustomFields"],"summary":"Updates a custom field selection option for an existing custom field definition.","description":"\r\n\r\n<Check title=\"Required Permissions\">The user must be an admin or have project-manage-config:write permissions.</Check>","parameters":[{"name":"customFieldDefinitionId","in":"path","description":"The id of the custom field definition.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"selectionOptionId","in":"path","description":"The id of the selection option.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The form to update the custom field selection option.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldSelectionOptionsForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldDefinition"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"admin":"true","project-manage-config":"write"}}},"/documents":{"get":{"tags":["Documents"],"summary":"Returns all documents.","description":"To retrieve a document, the user has to at least have 'read' permissions for the document.\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","parameters":[{"name":"includeTrashedDocuments","in":"query","description":"Whether to also include trashed documents.","schema":{"type":"boolean","default":false}},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/orderby"},{"$ref":"#/components/parameters/filterby"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentModel"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}},"post":{"tags":["Documents"],"summary":"Creates a new document.","description":"\r\n\r\n<Check title=\"Required Permissions\">Any authenticated user.</Check>","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/DocumentPostForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentModel"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/documents/trash/{documentId}/restore":{"post":{"tags":["Documents"],"summary":"Restores the document with the specified id from the trash.","description":"Please note that, after a successful response, this method will trigger a number of events that will\r\n            eventually update/recreate the document and the related entities such as document versions or its content.\r\n            <Check><b>Required Permissions</b>: The user has at least `manage` permissions for this document.</Check>","parameters":[{"name":"documentId","in":"path","description":"The id of the document to restore.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"alsoRestoreChildren","in":"query","description":"Whether all children of this document should be restored.","schema":{"type":"boolean","default":true}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/documents/{documentId}":{"delete":{"tags":["Documents"],"summary":"Deletes a document with the specified id, moving it to the trash section.","description":"The document itself is deleted synchronously, while its children and related entities\r\n            are deleted asynchronously in the background if <paramref name=\"alsoDeleteChildren\" /> is true.\r\n            If <paramref name=\"alsoDeleteChildren\" /> is false, the children's parent references are updated to point to the deleted document's parent.\r\n            <Check><b>Required Permissions</b>: The user has at least `manage` permissions for this document.</Check>","parameters":[{"name":"documentId","in":"path","description":"The document id.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"alsoDeleteChildren","in":"query","description":"Whether all children of this document should be deleted.","schema":{"type":"boolean","default":true}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}},"get":{"tags":["Documents"],"summary":"Returns the document with the specified id.","description":"<Check><b>Required Permissions</b>: The user has at least `read` permissions for this document.</Check>","parameters":[{"name":"documentId","in":"path","description":"The document id.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentModel"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}},"put":{"tags":["Documents"],"summary":"Updates the document with the specified id.","description":"<Check><b>Required Permissions</b>: The user has at least `manage` permissions for this document.</Check>","parameters":[{"name":"documentId","in":"path","description":"The document id.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The document to update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentModel"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/documents/{documentId}/comments":{"delete":{"tags":["DocumentComments"],"summary":"Deletes all comments of the specified document.","description":"Deletes all comments of the specified document.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}},"get":{"tags":["DocumentComments"],"summary":"Returns all comments of the document with the specified id.","description":"Returns all comments of the document with the specified id. The user needs read permissions on the document.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/orderby"},{"$ref":"#/components/parameters/filterby"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Comment"}}}}}}},"post":{"tags":["DocumentComments"],"summary":"Creates a new comment on the document with the specified id.","description":"Creates a new comment on the document with the specified id.\r\n            The user needs read permissions on the document to create a comment.\r\n            A user can only create a comment for him/herself, except for admins and api users.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model used to create a comment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}}}}},"/documents/{documentId}/comments/{commentId}":{"delete":{"tags":["DocumentComments"],"summary":"Deletes the comment with the specified id on the document with the specified id.","description":"Deletes the comment with the specified id on the document with the specified id.\r\n            The delete includes the reactions of the comment.\r\n            If there are any replies to the comment, they will be deleted as well.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}},"get":{"tags":["DocumentComments"],"summary":"Returns the comment with the specified id of the document with the specified id.","description":"Returns the comment with the specified id of the document with the specified id.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}}}},"put":{"tags":["DocumentComments"],"summary":"Updates the comment with the specified id on the document with the specified id.","description":"Updates the comment with the specified id on the document with the specified id.\r\n            InReplyToCommentId is not allowed to be changed.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model used to update the comment with the specified id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPutForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}}}}},"/documents/{documentId}/comments/{commentId}/react":{"post":{"tags":["DocumentComments"],"summary":"Updates the reactions of the comment with the specified id on the document with the specified id.","description":"Updates the reactions of the comment with the specified id on the document with the specified id.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model used to update the reactions of the comment with the specified id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReactionForm"}}}},"responses":{"204":{"description":"No Content"}}}},"/documents/{documentId}/comments/{commentId}/setresolved":{"post":{"tags":["DocumentComments"],"summary":"Sets the resolved status of a comment.","description":"Sets the resolved status of a comment. Users need write permissions on the document to resolve/unresolve comments.\r\n            Currently, the IsResolved property is only available for document comments.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"commentId","in":"path","description":"The id of the comment.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model containing the resolved status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetResolvedForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}}}}},"/documents/{documentId}/content":{"get":{"tags":["Documents"],"summary":"Returns the content of the current version of the document with the specified id.","description":"<Check><b>Required Permissions</b>: The user has at least `read` permissions for this document.</Check>","parameters":[{"name":"documentId","in":"path","description":"The document id.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"streamAsFile","in":"query","description":"Whether the document's content should be streamed as a file.\n            By default, the document's content is returned in a model containing a property 'Content' holding the content as a string.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}},"204":{"description":"No Content","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}},"put":{"tags":["Documents"],"summary":"Updates the content of the document with the specified id.","description":"<Check><b>Required Permissions</b>: The user has at least `manage` permissions for this document.</Check>","parameters":[{"name":"documentId","in":"path","description":"The document id.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/DocumentContentForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentModel"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/documents/{documentId}/contributors":{"post":{"tags":["Documents"],"summary":"Adds a list of document contributors to a document with the specified id.","description":"Recalculation of permissions for related entities considering the new document contributors\r\n            will be done in the background asynchronously.\r\n            <Check><b>Required Permissions</b>: The user has at least `manage` permissions for this document.</Check><Info>Adding document contributors will affect their access to the document.\r\n            Specifically the access of a particular user.</Info>","parameters":[{"name":"documentId","in":"path","description":"The document id.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The contributors.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContributorPostForm"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MinimalContributorModel"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/documents/{documentId}/contributors/{documentContributorId}":{"delete":{"tags":["Documents"],"summary":"Deletes the document contributor with the specified id.","description":"Deletes the specific document contributor from a document. This operation cannot be performed on inherited document contributors, only explicit ones.\r\n            There will be recalculation of permissions for related entities considering the deleted document contributor.\r\n            <Check><b>Required Permissions</b>: The user has at least `manage` permissions for this document.</Check><Info>Deleting a document contributor will affect their access to the document.\r\n            Specifically the access of a particular user.</Info>","parameters":[{"name":"documentId","in":"path","description":"The document to remove the contributor from, specified by its identifier.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentContributorId","in":"path","description":"The document contributor to remove, specified by its identifier.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}},"put":{"tags":["Documents"],"summary":"Updates the document contributor with the specified id.","description":"Updates the specific document contributor of a document.\r\n            There will be recalculation of permissions for related entities considering the updated document contributor.\r\n            <Check><b>Required Permissions</b>: The user has at least `manage` permissions for this document.</Check><Info>Updating a document contributor will affect their access to the document.\r\n            Specifically the access of a particular user.</Info>","parameters":[{"name":"documentId","in":"path","description":"The document id.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentContributorId","in":"path","description":"The document contributor id.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The form.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContributorForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MinimalContributorModel"}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/documents/{documentId}/duplicate":{"post":{"tags":["Documents"],"summary":"Duplicates a document along its content, permissions, and children and descendants (document tree).","description":"<Check><b>Required Permissions</b>: The user has at least `read` permissions for this document.</Check>","parameters":[{"name":"documentId","in":"path","description":"The document id to of the document to duplicate.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/documents/{documentId}/externalfiles":{"post":{"tags":["DocumentFiles"],"summary":"Endpoint to batch create external files without uploading.","description":"Endpoint to create file infos with batch operation.\nCreated file infos don't have a version.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"List of file forms.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalFileForm"}}},"application/*+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalFileForm"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/documents/{documentId}/files":{"delete":{"tags":["DocumentFiles"],"summary":"Deletes the files of the specified document.","description":"Deletes the metadata and the different versions of the files.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}},"get":{"tags":["DocumentFiles"],"summary":"Returns all files of the document with the specified id.","description":"Returns all file metadata of the document with the specified id.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/orderby"},{"$ref":"#/components/parameters/filterby"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"post":{"tags":["DocumentFiles"],"summary":"Creates a new document file for the document with the specified id..","description":"Uploads a new document file for the document with the specified id.\nUse this to upload a file as a form value along with the basic file meta data.\nThe file size must not exceed 1GB.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["File"],"type":"object","properties":{"File":{"type":"string","format":"binary"}}},"encoding":{"File":{"style":"form"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}},"400":{"description":"Bad Request"}}}},"/documents/{documentId}/files/byuploadid":{"post":{"tags":["FileUpload"],"summary":"Creates a file from an upload id.","description":"After a file has been uploaded to an upload URL generated from the <see cref=\"T:Awork.Files.Service.Feature.FileUpload.Endpoints.PostGenerateUploadURL\" /> endpoint, this endpoint can be used to create a file document from the uploaded file by providing the upload id.","parameters":[{"name":"documentId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadByUploadIdForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/documents/{documentId}/files/byurl":{"post":{"tags":["DocumentFiles"],"summary":"Uploads a new file by providing an url.","description":"The file needs to be a public available url.\nThe file size must not exceed 100MB.","parameters":[{"name":"documentId","in":"path","description":"The id of the document the file is linked to.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The url, name and description of the file.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilePostForm"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FilePostForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/documents/{documentId}/files/{fileId}":{"delete":{"tags":["DocumentFiles"],"summary":"Deletes the document file with the specified id.","description":"Deletes the metadata and the different versions of the file.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}},"get":{"tags":["DocumentFiles"],"summary":"Returns the file with the specified id of the document with the specified id.","description":"Returns the file metadata of the document with the specified id.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}},"put":{"tags":["DocumentFiles"],"summary":"Updates the metadata of the document file with the specified id.","description":"Updates the metadata of the document file with the specified id.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model to update the file with the specified id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfoUpdateForm"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/FileInfoUpdateForm"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileInfo"}}}}}}},"/documents/{documentId}/files/{fileId}/download":{"get":{"tags":["DocumentFiles"],"summary":"Returns the content of the document file with the specified id.","description":"Returns the content of the document file. Uses the latest file version.\nIf the document file is an image and the width and height are set,\nthe image will be resized before it is returned.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"width","in":"query","description":"Set width to resize.","schema":{"type":"number","format":"double"}},{"name":"height","in":"query","description":"Set height to resize.","schema":{"type":"number","format":"double"}},{"name":"crop","in":"query","description":"Whether to crop the image when resizing it.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","format":"binary"}}}}}}},"/documents/{documentId}/files/{fileId}/shareurl":{"get":{"tags":["DocumentFiles"],"summary":"Returns an url to share the file.","description":"Returns a url to share the file.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/documents/{documentId}/files/{fileId}/versions":{"get":{"tags":["DocumentFiles"],"summary":"Returns all file versions of the specified document file.","description":"Returns all file versions of the specified document file.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/pageSize"},{"$ref":"#/components/parameters/orderby"},{"$ref":"#/components/parameters/filterby"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FileVersion"}}}}}}},"post":{"tags":["DocumentFiles"],"summary":"Uploads a new version of the document file with the specified id.","description":"Uploads a new version of an document file.\nUse this to upload a file as a form value along with the basic file meta data.\nThe file size must not exceed 1GB.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["File"],"type":"object","properties":{"File":{"type":"string","format":"binary"}}},"encoding":{"File":{"style":"form"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileVersion"}}}},"400":{"description":"Bad Request"}}}},"/documents/{documentId}/files/{fileId}/versions/{versionId}":{"get":{"tags":["DocumentFiles"],"summary":"Returns the document file version with the specified id.","description":"Returns the document file version with the specified id.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"versionId","in":"path","description":"The id of the file version.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileVersion"}}}}}}},"/documents/{documentId}/files/{fileId}/versions/{versionId}/download":{"get":{"tags":["DocumentFiles"],"summary":"Returns the content of the document file version with the specified id.","description":"Returns the content of the document file version with the specified id.","parameters":[{"name":"documentId","in":"path","description":"The id of the document.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileId","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"versionId","in":"path","description":"The id of the file version.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/File"}}}}}}},"/documents/{documentId}/teams":{"post":{"tags":["Documents"],"summary":"Adds a list of document teams to a document with the specified id.","description":"Recalculation of permissions for related entities considering the new document teams\r\n            will be done in the background asynchronously.\r\n            <Check><b>Required Permissions</b>: The user has at least `manage` permissions for this document.</Check><Info>Adding document teams will affect their access to the document.\r\n            Specifically the access of a particular team.</Info>","parameters":[{"name":"documentId","in":"path","description":"The document id.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The forms.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntityToTeamPostForm"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MinimalEntityToTeamModel"}}}}}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}}},"/documents/{documentId}/teams/{documentToTeamId}":{"delete":{"tags":["Documents"],"summary":"Deletes the document team with the specified id.","description":"Deletes the specific document team from a document. This operation cannot be performed on inherited document teams, only explicit ones.\r\n            There will be recalculation of permissions for related entities considering the deleted document team.\r\n            <Check><b>Required Permissions</b>: The user has at least `manage` permissions for this document.</Check><Info>Deleting a document team will affect their access to the document.\r\n            Specifically the access of a particular team.</Info>","parameters":[{"name":"documentId","in":"path","description":"The document to remove a document to team-connection from, specified by its identifier.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentToTeamId","in":"path","description":"The document to team to remove, specified by its identifier.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2":["full_access"]}],"x-api-versions":["v1"],"x-access":{"any":"true"}},"put":{"tags":["Doc
[...]
