<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.mediaatelier.Volume</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>Unit</string>
			<key>name</key>
			<string>unit</string>
			<key>type</key>
			<string>string</string>
			<key>width</key>
			<real>60</real>
		</dict>
		<dict>
			<key>label</key>
			<string>Width</string>
			<key>name</key>
			<string>width</string>
			<key>type</key>
			<string>number</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Height</string>
			<key>name</key>
			<string>height</string>
			<key>type</key>
			<string>number</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Depth</string>
			<key>name</key>
			<string>depth</string>
			<key>type</key>
			<string>number</string>
		</dict>
	</array>
	<key>URL</key>
	<string>https://github.com/mediaatelier/GrandTotal-Plugins/raw/master/Input%20Assistants/Volume.grandtotalplugin.zip</string>
	<key>copyright</key>
	<string>© 2015-2023 Stefan Fürst</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>width</key>
	<real>240</real>
	<key>GrandTotalMinimumVersion</key>
	<real>4</real>
	<key>types</key>
	<array>
		<string>costassistant</string>
	</array>
</dict>
</plist>
